In [9]:
import numpy as np
import pandas as pd
import pickle as pkl
from tqdm import tqdm
from lstm_pipe import *

In [42]:
file_path = '../output1/merge.pickle'
with open(file_path, 'rb') as f:
    obj = pkl.load(f)
    
df = pd.DataFrame(obj)
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 754599 entries, (Timestamp('2010-01-31 00:00:00'), 10001) to (Timestamp('2023-12-31 00:00:00'), 93436)
Data columns (total 222 columns):
 #    Column                Non-Null Count   Dtype
---   ------                --------------   -----
 0    gvkey                 744562 non-null  string
 1    datadate              689795 non-null  datetime64[ns]
 2    primary               754599 non-null  bool
 3    exchcd                754599 non-null  float64
 4    me                    741780 non-null  float64
 5    ret                   740651 non-null  float64
 6    exret                 740651 non-null  float64
 7    rf                    754599 non-null  float64
 8    age                   754599 non-null  float64
 9    mispricing_mgmt       619898 non-null  float64
 10   mispricing_perf       694334 non-null  float64
 11   qmj                   306942 non-null  float64
 12   qmj_growth            306945 non-null  float64
 13   qmj_prof              647485 non-null  float64
 14   qmj_safety            694811 non-null  float64
 15   beta_60m              459309 non-null  float64
 16   chcsho_12m            646592 non-null  float64
 17   chmom                 640888 non-null  float64
 18   div12m_me             253486 non-null  float64
 19   divi                  754599 non-null  float64
 20   divo                  754599 non-null  float64
 21   dolvol                736072 non-null  float64
 22   eqnpo_12m             633341 non-null  float64
 23   eqnpo_60m             325931 non-null  float64
 24   indmom                730324 non-null  float64
 25   ipo                   754599 non-null  float64
 26   market_equity         741780 non-null  float64
 27   price                 741780 non-null  float64
 28   resff3_12_1           524758 non-null  float64
 29   resff3_6_1            524758 non-null  float64
 30   ret_12_1              641028 non-null  float64
 31   ret_12_6              641694 non-null  float64
 32   ret_1_0               740651 non-null  float64
 33   ret_36_12             461114 non-null  float64
 34   ret_3_1               722150 non-null  float64
 35   ret_60_12             331184 non-null  float64
 36   ret_6_1               694593 non-null  float64
 37   ret_9_1               667530 non-null  float64
 38   seas_11_15an          0 non-null       float64
 39   seas_11_15na          0 non-null       float64
 40   seas_16_20an          0 non-null       float64
 41   seas_16_20na          0 non-null       float64
 42   seas_1_1an            642353 non-null  float64
 43   seas_1_1na            640888 non-null  float64
 44   seas_2_5an            332387 non-null  float64
 45   seas_2_5na            331184 non-null  float64
 46   seas_6_10an           112431 non-null  float64
 47   seas_6_10na           111995 non-null  float64
 48   turn                  727040 non-null  float64
 49   ami_126d              722947 non-null  float64
 50   baspread              745341 non-null  float64
 51   beta                  652486 non-null  float64
 52   beta_dimson_21d       737188 non-null  float64
 53   betabab_1260d         462200 non-null  float64
 54   betadown_252d         689289 non-null  float64
 55   betasq                652486 non-null  float64
 56   bidaskhl_21d          744488 non-null  float64
 57   corr_1260d            462904 non-null  float64
 58   coskew_21d            737657 non-null  float64
 59   dolvol_126d           722947 non-null  float64
 60   dolvol_var_126d       722947 non-null  float64
 61   idiovol               652486 non-null  float64
 62   iskew_capm_21d        737657 non-null  float64
 63   iskew_ff3_21d         719871 non-null  float64
 64   iskew_hxz4_21d        667322 non-null  float64
 65   ivol_capm_21d         737657 non-null  float64
 66   ivol_capm_252d        696338 non-null  float64
 67   ivol_ff3_21d          719871 non-null  float64
 68   ivol_hxz4_21d         667322 non-null  float64
 69   prc_highprc_252d      695562 non-null  float64
 70   pricedelay            638468 non-null  float64
 71   pricedelay_slope      638468 non-null  float64
 72   retvol                744854 non-null  float64
 73   rmax1_21d             745355 non-null  float64
 74   rmax5_21d             743522 non-null  float64
 75   rmax5_rvol_21d        694946 non-null  float64
 76   rskew_21d             744466 non-null  float64
 77   std_dolvol            702056 non-null  float64
 78   std_turn              745123 non-null  float64
 79   trend_factor          348363 non-null  float64
 80   turnover_126d         723349 non-null  float64
 81   turnover_var_126d     723349 non-null  float64
 82   zero_trades_126d      723349 non-null  float64
 83   zero_trades_21d       745651 non-null  float64
 84   zero_trades_252d      696853 non-null  float64
 85   absacc                614584 non-null  float64
 86   acc                   614584 non-null  float64
 87   aliq_at               558893 non-null  float64
 88   aliq_mat              494100 non-null  float64
 89   at_be                 645558 non-null  float64
 90   at_gr1                622114 non-null  float64
 91   at_me                 685299 non-null  float64
 92   at_turnover           614569 non-null  float64
 93   be_gr1a               563957 non-null  float64
 94   be_me                 644945 non-null  float64
 95   bev_mev               611956 non-null  float64
 96   bm_ia                 629709 non-null  float64
 97   capex_abn             395873 non-null  float64
 98   capx_gr1              555191 non-null  float64
 99   capx_gr2              485801 non-null  float64
 100  capx_gr3              415521 non-null  float64
 101  cash_at               686037 non-null  float64
 102  cashdebt              606632 non-null  float64
 103  cashpr                680558 non-null  float64
 104  cfp                   639805 non-null  float64
 105  cfp_ia                626547 non-null  float64
 106  chatoia               465750 non-null  float64
 107  chcsho                616054 non-null  float64
 108  chempia               632856 non-null  float64
 109  chpmia                545100 non-null  float64
 110  coa_gr1a              558654 non-null  float64
 111  col_gr1a              555308 non-null  float64
 112  convind               708177 non-null  float64
 113  cop_at                640345 non-null  float64
 114  cop_atl1              614535 non-null  float64
 115  cowc_gr1a             552974 non-null  float64
 116  currat                679497 non-null  float64
 117  dbnetis_at            647901 non-null  float64
 118  debt_gr3              276074 non-null  float64
 119  debt_me               684899 non-null  float64
 120  depr                  620170 non-null  float64
 121  dgp_dsale             505866 non-null  float64
 122  dsale_dinv            401676 non-null  float64
 123  dsale_drec            539639 non-null  float64
 124  dsale_dsga            467274 non-null  float64
 125  dy                    640010 non-null  float64
 126  earnings_variability  332727 non-null  float64
 127  ebit_bev              581493 non-null  float64
 128  ebit_sale             606988 non-null  float64
 129  ebitda_mev            620590 non-null  float64
 130  emp_gr1               531706 non-null  float64
 131  enterprise_multiple   470926 non-null  float64
 132  eq_dur                482290 non-null  float64
 133  eqnetis_at            639834 non-null  float64
 134  eqnpo_me              638378 non-null  float64
 135  eqpo_me               604724 non-null  float64
 136  f_score               708177 non-null  float64
 137  fcf_me                637778 non-null  float64
 138  fnl_gr1a              621220 non-null  float64
 139  gp_at                 640630 non-null  float64
 140  gp_atl1               614595 non-null  float64
 141  herf_at               402254 non-null  float64
 142  herf_be               188104 non-null  float64
 143  herf_sale             400684 non-null  float64
 144  intrinsic_value       389430 non-null  float64
 145  inv_gr1               425106 non-null  float64
 146  inv_gr1a              613921 non-null  float64
 147  invest                608592 non-null  float64
 148  kz_index              522719 non-null  float64
 149  lgr                   622017 non-null  float64
 150  lnoa_gr1a             600065 non-null  float64
 151  lti_gr1a              650239 non-null  float64
 152  mve_ia                632171 non-null  float64
 153  ncoa_gr1a             558528 non-null  float64
 154  ncol_gr1a             551946 non-null  float64
 155  netdebt_me            684899 non-null  float64
 156  netis_at              639804 non-null  float64
 157  nfna_gr1a             621383 non-null  float64
 158  ni_ar1                305889 non-null  float64
 159  ni_be                 602816 non-null  float64
 160  ni_ivol               305889 non-null  float64
 161  ni_me                 640122 non-null  float64
 162  nncoa_gr1a            549486 non-null  float64
 163  noa_at                552499 non-null  float64
 164  noa_gr1a              549480 non-null  float64
 165  o_score               514686 non-null  float64
 166  oaccruals_at          621340 non-null  float64
 167  oaccruals_ni          640430 non-null  float64
 168  ocf_at                640879 non-null  float64
 169  ocf_at_chg1           579672 non-null  float64
 170  ocf_me                640192 non-null  float64
 171  op_at                 640634 non-null  float64
 172  op_atl1               614596 non-null  float64
 173  ope_be                504372 non-null  float64
 174  ope_bel1              474406 non-null  float64
 175  operprof              601823 non-null  float64
 176  opex_at               640656 non-null  float64
 177  pchcapx_ia            549535 non-null  float64
 178  pchcurrat             615424 non-null  float64
 179  pchdepr               558636 non-null  float64
 180  pchquick              609253 non-null  float64
 181  pchsaleinv            390991 non-null  float64
 182  pctacc                640417 non-null  float64
 183  pi_nix                386614 non-null  float64
 184  ppeinv_gr1a           519151 non-null  float64
 185  ps                    708177 non-null  float64
 186  quick                 673488 non-null  float64
 187  rd                    708177 non-null  float64
 188  rd5_at                186159 non-null  float64
 189  rd_me                 341835 non-null  float64
 190  rd_sale               316597 non-null  float64
 191  realestate            257153 non-null  float64
 192  roic                  632944 non-null  float64
 193  sale_bev              581570 non-null  float64
 194  sale_emp_gr1          507988 non-null  float64
 195  sale_gr1              548171 non-null  float64
 196  sale_gr3              411208 non-null  float64
 197  sale_me               639953 non-null  float64
 198  salecash              638798 non-null  float64
 199  saleinv               441462 non-null  float64
 200  salerec               607022 non-null  float64
 201  secured               708177 non-null  float64
 202  securedind            708177 non-null  float64
 203  sin                   689795 non-null  float64
 204  sti_gr1a              650239 non-null  float64
 205  taccruals_at          620632 non-null  float64
 206  taccruals_ni          614021 non-null  float64
 207  tangibility           572946 non-null  float64
 208  tb                    421529 non-null  float64
 209  z_score               553248 non-null  float64
 210  chtx                  598117 non-null  float64
 211  ni_inc8q              620332 non-null  float64
 212  niq_at                656779 non-null  float64
 213  niq_at_chg1           576148 non-null  float64
 214  niq_be                620513 non-null  float64
 215  niq_be_chg1           532500 non-null  float64
 216  niq_su                502699 non-null  float64
 217  ocfq_saleq_std        498774 non-null  float64
 218  roavol                519151 non-null  float64
 219  rsup                  607586 non-null  float64
 220  saleq_su              483836 non-null  float64
 221  stdacc                278095 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(219), string(1)
memory usage: 1.2 GB

In [13]:
def impute_permno(df):
    """Imputes missing values within each permno group using the median.

    Parameters:
    -----------
    df: A Pandas DataFrame with a MultiIndex.

    Returns:
    --------
    df_imputed: A DataFrame with imputed values.
    """
    print('USING NEW IMPUTE METHOD')

    # Remove columns with high NaN percentage
    print('Removing columns with a NaN % > 30. . .\n')
    for col in tqdm(df.columns):
        percent_NaN = df[col].isna().mean()
        if percent_NaN > 0.3:
            # print(f'\n Deleting column {col} with NaN: {percent_NaN}%. . .\n')
            df.drop(col, axis=1, inplace=True)

    print('Imputing median for each permno. . .\n')
    # Get unique permno IDs
    permno_ids = df.index.get_level_values('permno').unique()

    # Iterate over permno IDs and impute missing values
    for permno in tqdm(permno_ids):
        df.loc[df.index.get_level_values('permno') == permno] = df.loc[
            df.index.get_level_values('permno') == permno
        ].fillna(df.loc[df.index.get_level_values('permno') == permno].median())

    return df

In [ ]:
# Impute data, median of each permno group for NaN vals
non_vals=["gvkey", "datadate", "primary"] #, "exchcd", "ret", "exret", "rf", "me"]
non_vals_temp = df[non_vals]
dropped_df = df.drop(non_vals,axis=1)
print('Imputation of NaN values. . .\n')
imputed_df = impute_permno(dropped_df)
del dropped_df

Imputation of NaN values. . .

USING NEW IMPUTE METHOD
Removing columns with a NaN % > 30. . .

100%|██████████| 214/214 [00:29<00:00,  7.15it/s]

Imputing median for each permno. . .

100%|██████████| 9206/9206 [28:52<00:00,  5.31it/s]

In [30]:
from sklearn.preprocessing import MinMaxScaler
print('Normalisation of vals. . .\n')
# Normalize features
or_cols = imputed_df.columns
scaler = MinMaxScaler()
temp_transformed_df = scaler.fit_transform(imputed_df)
transformed_df = pd.DataFrame(temp_transformed_df, index=imputed_df.index, columns=or_cols)

Normalisation of vals. . .

In [43]:
# Scaler converts to np.ndarray, so convert back to pandas.DF
# concat_df = pd.DataFrame(transformed_df, columns = or_cols)

df = pd.concat([non_vals_temp, transformed_df], axis=1)
# pd.concat()

In [41]:
non_vals_temp.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 754599 entries, (Timestamp('2010-01-31 00:00:00'), 10001) to (Timestamp('2023-12-31 00:00:00'), 93436)
Data columns (total 8 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   gvkey     744562 non-null  string
 1   datadate  689795 non-null  datetime64[ns]
 2   primary   754599 non-null  bool
 3   exchcd    754599 non-null  float64
 4   ret       740651 non-null  float64
 5   exret     740651 non-null  float64
 6   rf        754599 non-null  float64
 7   me        741780 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(5), string(1)
memory usage: 44.0 MB

In [44]:
df.info(verbose=True,show_counts=True)

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 754599 entries, (Timestamp('2010-01-31 00:00:00'), 10001) to (Timestamp('2023-12-31 00:00:00'), 93436)
Data columns (total 163 columns):
 #    Column             Non-Null Count   Dtype
---   ------             --------------   -----
 0    gvkey              744562 non-null  string
 1    datadate           689795 non-null  datetime64[ns]
 2    primary            754599 non-null  bool
 3    exchcd             754599 non-null  float64
 4    ret                740651 non-null  float64
 5    exret              740651 non-null  float64
 6    rf                 754599 non-null  float64
 7    me                 741780 non-null  float64
 8    age                754599 non-null  float64
 9    mispricing_mgmt    728665 non-null  float64
 10   mispricing_perf    752104 non-null  float64
 11   qmj_prof           731419 non-null  float64
 12   qmj_safety         737924 non-null  float64
 13   chcsho_12m         749899 non-null  float64
 14   chmom              750208 non-null  float64
 15   divi               754599 non-null  float64
 16   divo               754599 non-null  float64
 17   dolvol             754582 non-null  float64
 18   eqnpo_12m          749336 non-null  float64
 19   indmom             752910 non-null  float64
 20   ipo                754599 non-null  float64
 21   market_equity      754599 non-null  float64
 22   price              754599 non-null  float64
 23   ret_12_1           750208 non-null  float64
 24   ret_12_6           750316 non-null  float64
 25   ret_1_0            754585 non-null  float64
 26   ret_3_1            754392 non-null  float64
 27   ret_6_1            753699 non-null  float64
 28   ret_9_1            752388 non-null  float64
 29   seas_1_1an         750403 non-null  float64
 30   seas_1_1na         750208 non-null  float64
 31   turn               754476 non-null  float64
 32   ami_126d           754329 non-null  float64
 33   baspread           754599 non-null  float64
 34   beta               750053 non-null  float64
 35   beta_dimson_21d    754582 non-null  float64
 36   betadown_252d      753345 non-null  float64
 37   betasq             750053 non-null  float64
 38   bidaskhl_21d       754598 non-null  float64
 39   coskew_21d         754582 non-null  float64
 40   dolvol_126d        754329 non-null  float64
 41   dolvol_var_126d    754329 non-null  float64
 42   idiovol            750053 non-null  float64
 43   iskew_capm_21d     754582 non-null  float64
 44   iskew_ff3_21d      754253 non-null  float64
 45   iskew_hxz4_21d     750418 non-null  float64
 46   ivol_capm_21d      754582 non-null  float64
 47   ivol_capm_252d     753583 non-null  float64
 48   ivol_ff3_21d       754253 non-null  float64
 49   ivol_hxz4_21d      750418 non-null  float64
 50   prc_highprc_252d   753654 non-null  float64
 51   pricedelay         749479 non-null  float64
 52   pricedelay_slope   749479 non-null  float64
 53   retvol             754596 non-null  float64
 54   rmax1_21d          754598 non-null  float64
 55   rmax5_21d          754594 non-null  float64
 56   rmax5_rvol_21d     753583 non-null  float64
 57   rskew_21d          754596 non-null  float64
 58   std_dolvol         752416 non-null  float64
 59   std_turn           754598 non-null  float64
 60   turnover_126d      754332 non-null  float64
 61   turnover_var_126d  754332 non-null  float64
 62   zero_trades_126d   754332 non-null  float64
 63   zero_trades_21d    754599 non-null  float64
 64   zero_trades_252d   753654 non-null  float64
 65   absacc             728053 non-null  float64
 66   acc                728053 non-null  float64
 67   aliq_at            656981 non-null  float64
 68   at_be              731365 non-null  float64
 69   at_gr1             728706 non-null  float64
 70   at_me              737473 non-null  float64
 71   at_turnover        728051 non-null  float64
 72   be_gr1a            718127 non-null  float64
 73   be_me              731353 non-null  float64
 74   bev_mev            723633 non-null  float64
 75   bm_ia              730256 non-null  float64
 76   capx_gr1           704894 non-null  float64
 77   cash_at            737485 non-null  float64
 78   cashdebt           723558 non-null  float64
 79   cashpr             737313 non-null  float64
 80   cfp                730879 non-null  float64
 81   cfp_ia             728719 non-null  float64
 82   chcsho             727904 non-null  float64
 83   chempia            731137 non-null  float64
 84   chpmia             695984 non-null  float64
 85   coa_gr1a           656948 non-null  float64
 86   col_gr1a           655363 non-null  float64
 87   convind            739738 non-null  float64
 88   cop_at             730857 non-null  float64
 89   cop_atl1           728040 non-null  float64
 90   cowc_gr1a          653823 non-null  float64
 91   currat             734009 non-null  float64
 92   dbnetis_at         731134 non-null  float64
 93   debt_me            737423 non-null  float64
 94   depr               719250 non-null  float64
 95   dsale_drec         693304 non-null  float64
 96   dy                 730949 non-null  float64
 97   ebit_bev           718294 non-null  float64
 98   ebit_sale          711501 non-null  float64
 99   ebitda_mev         729717 non-null  float64
 100  emp_gr1            704594 non-null  float64
 101  eqnetis_at         730509 non-null  float64
 102  eqnpo_me           730461 non-null  float64
 103  eqpo_me            726490 non-null  float64
 104  f_score            739738 non-null  float64
 105  fcf_me             730183 non-null  float64
 106  fnl_gr1a           728598 non-null  float64
 107  gp_at              731218 non-null  float64
 108  gp_atl1            728109 non-null  float64
 109  inv_gr1a           725221 non-null  float64
 110  invest             723156 non-null  float64
 111  lgr                728703 non-null  float64
 112  lnoa_gr1a          720994 non-null  float64
 113  lti_gr1a           734943 non-null  float64
 114  mve_ia             731121 non-null  float64
 115  ncoa_gr1a          656948 non-null  float64
 116  ncol_gr1a          655105 non-null  float64
 117  netdebt_me         737423 non-null  float64
 118  netis_at           730509 non-null  float64
 119  nfna_gr1a          728617 non-null  float64
 120  ni_be              725051 non-null  float64
 121  ni_me              731249 non-null  float64
 122  nncoa_gr1a         653565 non-null  float64
 123  noa_at             654367 non-null  float64
 124  noa_gr1a           653565 non-null  float64
 125  oaccruals_at       728699 non-null  float64
 126  oaccruals_ni       730900 non-null  float64
 127  ocf_at             731231 non-null  float64
 128  ocf_at_chg1        718467 non-null  float64
 129  ocf_me             731262 non-null  float64
 130  op_at              731175 non-null  float64
 131  op_atl1            728043 non-null  float64
 132  operprof           724315 non-null  float64
 133  opex_at            731175 non-null  float64
 134  pchcapx_ia         701681 non-null  float64
 135  pchcurrat          724592 non-null  float64
 136  pchdepr            705312 non-null  float64
 137  pchquick           722213 non-null  float64
 138  pctacc             730882 non-null  float64
 139  ps                 739738 non-null  float64
 140  quick              731857 non-null  float64
 141  rd                 739738 non-null  float64
 142  roic               730275 non-null  float64
 143  sale_bev           718248 non-null  float64
 144  sale_gr1           698572 non-null  float64
 145  sale_me            731205 non-null  float64
 146  salecash           731064 non-null  float64
 147  salerec            718886 non-null  float64
 148  secured            739738 non-null  float64
 149  securedind         739738 non-null  float64
 150  sin                738456 non-null  float64
 151  sti_gr1a           734943 non-null  float64
 152  taccruals_at       728591 non-null  float64
 153  taccruals_ni       728038 non-null  float64
 154  tangibility        652611 non-null  float64
 155  z_score            654574 non-null  float64
 156  chtx               728160 non-null  float64
 157  ni_inc8q           729551 non-null  float64
 158  niq_at             731180 non-null  float64
 159  niq_at_chg1        720634 non-null  float64
 160  niq_be             725424 non-null  float64
 161  niq_be_chg1        709950 non-null  float64
 162  rsup               728763 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(160), string(1)
memory usage: 936.3 MB

In [45]:
# Get indexes
dates = df.index.get_level_values('date')
permno_ids = df.index.get_level_values('permno')
dates[0:10]

DatetimeIndex(['2010-01-31', '2010-02-28', '2010-03-31', '2010-04-30',
               '2010-05-31', '2010-06-30', '2010-07-31', '2010-08-31',
               '2010-09-30', '2010-10-31'],
              dtype='datetime64[ns]', name='date', freq=None)

In [4]:
# Count unique permnos
count = 0
permno_set = set()
for p in permno_ids.to_list():
    if p not in permno_set:
        count += 1
        permno_set.add(p)
count

9206

In [5]:
exclude_columns = ["gvkey", "datadate", "primary", "exchcd", "ret", "exret", "rf", "me"]
exret = df.exret
features = df.drop(columns=exclude_columns)
exret.head()

date        permno
2010-01-31  10001    -0.018960
2010-02-28  10001    -0.000666
2010-03-31  10001     0.020575
2010-04-30  10001     0.124274
2010-05-31  10001     0.004717
Name: exret, dtype: float64

In [9]:
p0 = permno_set.pop()
idxs = [idx for idx, val in enumerate(permno_ids) if val == p]
temp_df = features.iloc[idxs]
temp_exret = exret.iloc[idxs]
i=0
x_temp = temp_df.iloc[i:i+5]
y_temp = temp_exret.iloc[i+5:i+5+1]

In [7]:
# Cross-section on permno 10001
df_10001 = df.xs(10001, level='permno')

# Filter dates before '2015-01-01' (exclusive)
filtered_df = df_10001[df_10001.index < '2015-01-01']

In [10]:
filtered_df

,gvkey,datadate,primary,exchcd,me,ret,exret,rf,age,mispricing_mgmt,...,niq_at,niq_at_chg1,niq_be,niq_be_chg1,niq_su,ocfq_saleq_std,roavol,rsup,saleq_su,stdacc
date,,,,,,,,,,,,,,,,,,,,,
2010-01-31,012994,NaT,True,2.0,43.871660,-0.018932,-0.018960,0.000028,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-02-28,012994,NaT,True,2.0,43.646632,-0.000656,-0.000666,0.000010,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-03-31,012994,NaT,True,2.0,44.351370,0.020643,0.020575,0.000068,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-04-30,012994,NaT,True,2.0,69.137300,0.124385,0.124274,0.000111,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-05-31,012994,NaT,True,2.0,69.209400,0.004829,0.004717,0.000112,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-06-30,012994,NaT,True,2.0,66.028800,-0.043421,-0.043548,0.000127,6.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-07-31,012994,2010-03-31,True,2.0,71.257600,0.083333,0.083191,0.000142,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-08-31,012994,2010-03-31,True,2.0,62.983083,-0.111263,-0.111389,0.000126,8.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-09-30,012994,2010-03-31,True,2.0,67.531760,0.076560,0.076435,0.000125,9.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-10-31,012994,2010-06-30,True,2.0,69.485953,0.032815,0.032703,0.000112,10.0,NaN,...,0.003947,NaN,0.008386,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-11-30,012994,2010-06-30,True,2.0,78.653360,-0.118436,-0.118550,0.000114,11.0,NaN,...,0.003947,NaN,0.008386,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-12-31,012994,2010-06-30,True,2.0,82.413680,0.052291,0.052151,0.000140,12.0,NaN,...,0.003947,NaN,0.008386,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-01-31,012994,2010-09-30,True,2.0,84.450520,0.028992,0.028926,0.000066,13.0,NaN,...,-0.000381,NaN,-0.000813,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-02-28,012994,2010-09-30,True,2.0,86.017320,0.022727,0.022605,0.000122,14.0,NaN,...,-0.000381,NaN,-0.000813,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-03-31,012994,2010-09-30,True,2.0,91.892820,0.072404,0.072337,0.000067,15.0,NaN,...,-0.000381,NaN,-0.000813,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-04-30,012994,2010-12-31,True,2.0,91.535730,-0.038789,-0.038842,0.000053,16.0,NaN,...,0.014115,NaN,0.031458,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-05-31,012994,2010-12-31,True,2.0,93.736500,0.028050,0.028037,0.000013,17.0,NaN,...,0.014115,NaN,0.031458,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-06-30,012994,2010-12-31,True,2.0,94.144050,0.008261,0.008226,0.000035,18.0,NaN,...,0.014115,NaN,0.031458,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-07-31,012994,2011-03-31,True,2.0,91.128180,-0.028139,-0.028111,-0.000028,19.0,0.201945,...,0.031039,NaN,0.057850,NaN,NaN,NaN,NaN,0.056667,NaN,NaN
2011-08-31,012994,2011-03-31,True,2.0,89.508960,-0.013864,-0.013947,0.000083,20.0,0.202303,...,0.031039,NaN,0.057850,NaN,NaN,NaN,NaN,0.056667,NaN,NaN
2011-09-30,012994,2011-03-31,True,2.0,89.590480,0.005009,0.005010,-0.000001,21.0,0.202398,...,0.031039,NaN,0.057850,NaN,NaN,NaN,NaN,0.056667,NaN,NaN
2011-10-31,012994,2011-06-30,True,2.0,89.672000,0.005005,0.004991,0.000014,22.0,0.226573,...,0.002774,-0.001173,0.004669,-0.003716,NaN,NaN,NaN,0.021422,NaN,NaN
2011-11-30,012994,2011-06-30,True,2.0,88.878600,-0.005000,-0.005004,0.000004,23.0,0.372476,...,0.002774,-0.001173,0.004669,-0.003716,NaN,NaN,NaN,0.021422,NaN,NaN
2011-12-31,012994,2011-06-30,True,2.0,93.118680,0.051835,0.051835,0.000000,24.0,0.367223,...,0.002774,-0.001173,0.004669,-0.003716,NaN,NaN,NaN,0.021422,NaN,NaN
2012-01-31,012994,2011-09-30,True,2.0,90.917100,-0.019702,-0.019700,-0.000002,25.0,0.338575,...,0.000944,0.001325,0.001682,0.002495,NaN,NaN,NaN,0.015837,NaN,NaN
2012-02-29,012994,2011-09-30,True,2.0,91.005163,0.005005,0.004974,0.000031,26.0,0.335771,...,0.000944,0.001325,0.001682,0.002495,NaN,NaN,NaN,0.015837,NaN,NaN
2012-03-31,012994,2011-09-30,True,2.0,95.075640,0.048760,0.048714,0.000046,27.0,0.331700,...,0.000944,0.001325,0.001682,0.002495,NaN,NaN,NaN,0.015837,NaN,NaN
2012-04-30,012994,2011-12-31,True,2.0,93.294015,-0.015000,-0.015029,0.000029,28.0,0.438527,...,0.004183,-0.009932,0.007893,-0.023565,NaN,0.217155,NaN,-0.012210,NaN,NaN
2012-05-31,012994,2011-12-31,True,2.0,85.067080,-0.084361,-0.084426,0.000065,29.0,0.436853,...,0.004183,-0.009932,0.007893,-0.023565,NaN,0.217155,NaN,-0.012210,NaN,NaN
2012-06-30,012994,2011-12-31,True,2.0,82.375600,-0.027325,-0.027347,0.000022,30.0,0.434636,...,0.004183,-0.009932,0.007893,-0.023565,NaN,0.217155,NaN,-0.012210,NaN,NaN
2012-07-31,012994,2012-03-31,True,2.0,82.783400,0.009406,0.009374,0.000032,31.0,0.415453,...,0.020990,-0.010050,0.042168,-0.015682,NaN,0.214290,0.011289,-0.067086,NaN,NaN
2012-08-31,012994,2012-03-31,True,2.0,81.406860,-0.012315,-0.012365,0.000050,32.0,0.414371,...,0.020990,-0.010050,0.042168,-0.015682,NaN,0.214290,0.011289,-0.067086,NaN,NaN
2012-09-30,012994,2012-03-31,True,2.0,81.080580,0.000501,0.000434,0.000067,33.0,0.421029,...,0.020990,-0.010050,0.042168,-0.015682,NaN,0.214290,0.011289,-0.067086,NaN,NaN
2012-10-31,012994,2012-06-30,True,2.0,81.741297,0.012676,0.012639,0.000037,34.0,0.437595,...,-0.003575,-0.006349,-0.006571,-0.011240,NaN,0.217484,0.011450,-0.080572,NaN,NaN
2012-11-30,012994,2012-06-30,True,2.0,77.654640,-0.045504,-0.045589,0.000085,35.0,0.442313,...,-0.003575,-0.006349,-0.006571,-0.011240,NaN,0.217484,0.011450,-0.080572,NaN,NaN
2012-12-31,012994,2012-06-30,True,2.0,76.104810,-0.015231,-0.015334,0.000103,36.0,0.440978,...,-0.003575,-0.006349,-0.006571,-0.011240,NaN,0.217484,0.011450,-0.080572,NaN,NaN
2013-01-31,012994,2012-09-30,True,2.0,80.509590,0.062701,0.062679,0.000022,37.0,0.431443,...,-0.003249,-0.004193,-0.006070,-0.007752,0.024115,0.252389,0.011389,0.000505,2.769213,NaN
2013-02-28,012994,2012-09-30,True,2.0,81.080580,0.011651,0.011597,0.000054,38.0,0.432477,...,-0.003249,-0.004193,-0.006070,-0.007752,0.024115,0.252389,0.011389,0.000505,2.769213,NaN
2013-03-31,012994,2012-09-30,True,2.0,83.201400,0.030684,0.030643,0.000041,39.0,0.433115,...,-0.003249,-0.004193,-0.006070,-0.007752,0.024115,0.252389,0.011389,0.000505,2.769213,NaN
2013-04-30,012994,2012-12-31,True,2.0,86.668700,0.017157,0.017120,0.000037,40.0,0.309208,...,0.010442,0.006259,0.020718,0.012825,3.350967,0.240656,0.010852,0.037891,2.817640,NaN
2013-05-31,012994,2012-12-31,True,2.0,86.249200,-0.000484,-0.000496,0.000012,41.0,0.310986,...,0.010442,0.006259,0.020718,0.012825,3.350967,0.240656,0.010852,0.037891,2.817640,NaN
2013-06-30,012994,2012-12-31,True,2.0,89.064100,0.006323,0.006310,0.000013,42.0,0.251125,...,0.010442,0.006259,0.020718,0.012825,3.350967,0.240656,0.010852,0.037891,2.817640,NaN
2013-07-31,012994,2013-03-31,True,2.0,105.731740,0.016019,0.016010,0.000009,43.0,0.160079,...,0.027341,0.006351,0.058425,0.016258,2.371708,0.237420,0.011842,0.115018,3.383105,NaN
2013-08-31,012994,2013-03-31,True,2.0,105.794400,-0.016795,-0.016804,0.000009,44.0,0.157796,...,0.027341,0.006351,0.058425,0.016258,2.371708,0.237420,0.011842,0.115018,3.383105,NaN
2013-09-30,012994,2013-03-31,True,2.0,105.794400,0.004412,0.004404,0.000008,45.0,0.157405,...,0.027341,0.006351,0.058425,0.016258,2.371708,0.237420,0.011842,0.115018,3.383105,NaN
2013-10-31,012994,2013-06-30,True,2.0,103.408840,-0.018137,-0.018154,0.000017,46.0,0.181338,...,-0.004966,-0.001391,-0.009803,-0.003231,-0.143607,0.245502,0.011986,0.043194,0.922477,NaN
2013-11-30,012994,2013-06-30,True,2.0,89.678160,-0.134905,-0.134937,0.000032,47.0,0.182616,...,-0.004966,-0.001391,-0.009803,-0.003231,-0.143607,0.245502,0.011986,0.043194,0.922477,NaN
2013-12-31,012994,2013-06-30,True,2.0,83.929560,-0.058858,-0.058881,0.000023,48.0,0.183242,...,-0.004966,-0.001391,-0.009803,-0.003231,-0.143607,0.245502,0.011986,0.043194,0.922477,NaN
2014-01-31,012994,2013-09-30,True,2.0,95.844840,0.147572,0.147560,0.000012,49.0,0.186194,...,-0.004933,-0.001684,-0.009518,-0.003449,0.020515,0.248026,0.012021,0.011853,-0.089589,NaN
2014-02-28,012994,2013-09-30,True,2.0,97.830720,0.025627,0.025582,0.000045,50.0,0.187900,...,-0.004933,-0.001684,-0.009518,-0.003449,0.020515,0.248026,0.012021,0.011853,-0.089589,NaN
2014-03-31,012994,2013-09-30,True,2.0,105.147120,0.079594,0.079566,0.000028,51.0,0.189018,...,-0.004933,-0.001684,-0.009518,-0.003449,0.020515,0.248026,0.012021,0.011853,-0.089589,NaN
2014-04-30,012994,2013-12-31,True,2.0,114.319200,0.087972,0.087957,0.000015,52.0,0.201246,...,0.014924,0.004483,0.027458,0.006740,0.822560,0.239696,0.011761,0.062612,-0.366318,NaN
2014-05-31,012994,2013-12-31,True,2.0,110.019120,-0.033486,-0.033494,0.000008,53.0,0.201230,...,0.014924,0.004483,0.027458,0.006740,0.822560,0.239696,0.011761,0.062612,-0.366318,NaN
2014-06-30,012994,2013-12-31,True,2.0,110.543520,0.009056,0.009036,0.000020,54.0,0.207994,...,0.014924,0.004483,0.027458,0.006740,0.822560,0.239696,0.011761,0.062612,-0.366318,NaN
2014-07-31,012994,2014-03-31,True,2.0,135.190320,0.227230,0.227217,0.000013,55.0,0.305172,...,0.022263,-0.005078,0.042524,-0.015901,-1.293382,0.232456,0.011941,0.170066,1.126605,0.234197
2014-08-31,012994,2014-03-31,True,2.0,118.304640,-0.121412,-0.121415,0.000003,56.0,0.353357,...,0.022263,-0.005078,0.042524,-0.015901,-1.293382,0.232456,0.011941,0.170066,1.126605,0.234197
2014-09-30,012994,2014-03-31,True,2.0,123.863280,0.050975,0.050971,0.000004,57.0,0.351893,...,0.022263,-0.005078,0.042524,-0.015901,-1.293382,0.232456,0.011941,0.170066,1.126605,0.234197
2014-10-31,012994,2014-06-30,True,2.0,119.038800,-0.035140,-0.035152,0.000012,58.0,0.366445,...,-0.007038,-0.002072,-0.013145,-0.003343,-0.344262,0.234793,0.012521,0.041775,-0.114972,0.267337
2014-11-30,012994,2014-06-30,True,2.0,120.612000,0.017181,0.017182,-0.000001,59.0,0.398166,...,-0.007038,-0.002072,-0.013145,-0.003343,-0.344262,0.234793,0.012521,0.041775,-0.114972,0.267337
2014-12-31,012994,2014-06-30,True,2.0,115.577760,-0.037826,-0.037831,0.000005,60.0,0.396653,...,-0.007038,-0.002072,-0.013145,-0.003343,-0.344262,0.234793,0.012521,0.041775,-0.114972,0.267337

In [38]:
x_temp.to_numpy()

array([[ 9.40000000e+01,  1.66704276e-01,  5.34643530e-01, ...,
         2.51832431e-02,  1.34928009e+00,  1.09124034e-01],
       [ 9.50000000e+01,  1.59252012e-01,  4.50969071e-01, ...,
         1.19740330e-02, -5.46508811e-01,  1.09631669e-01],
       [ 9.60000000e+01,  1.59466296e-01,  4.84702059e-01, ...,
         1.19740330e-02, -5.46508811e-01,  1.09631669e-01],
       [ 9.70000000e+01,  1.67951882e-01,  4.59847269e-01, ...,
         1.19740330e-02, -5.46508811e-01,  1.09631669e-01],
       [ 9.80000000e+01,  3.30914054e-01,  3.58832925e-01, ...,
         1.90965471e-02,  8.64726497e-02,  1.21669637e-01]])

In [36]:
x_temp

,,age,mispricing_mgmt,mispricing_perf,qmj,qmj_growth,qmj_prof,qmj_safety,beta_60m,chcsho_12m,chmom,...,niq_at,niq_at_chg1,niq_be,niq_be_chg1,niq_su,ocfq_saleq_std,roavol,rsup,saleq_su,stdacc
date,permno,,,,,,,,,,,,,,,,,,,,,
2017-12-31,93436,94.0,0.166704,0.534644,-0.664615,1.093642,-1.208096,-0.708078,1.199302,0.044788,-0.831205,...,-0.013427,0.018470,-0.067445,0.234697,0.187433,0.152166,0.011885,0.025183,1.349280,0.109124
2018-01-31,93436,95.0,0.159252,0.450969,-1.041790,0.694345,-1.291706,-0.951286,1.226342,0.044084,-0.188624,...,-0.023782,-0.025625,-0.121309,-0.129990,-2.937532,0.136547,0.011907,0.011974,-0.546509,0.109632
2018-02-28,93436,96.0,0.159466,0.484702,-1.047236,0.700880,-1.291295,-0.945867,1.240570,0.044844,-0.459733,...,-0.023782,-0.025625,-0.121309,-0.129990,-2.937532,0.136547,0.011907,0.011974,-0.546509,0.109632
2018-03-31,93436,97.0,0.167952,0.459847,-1.058551,0.698263,-1.286568,-1.004619,1.379444,0.034027,-0.445443,...,-0.023782,-0.025625,-0.121309,-0.129990,-2.937532,0.136547,0.011907,0.011974,-0.546509,0.109632
2018-04-30,93436,98.0,0.330914,0.358833,-0.469646,1.646153,-1.008476,-1.097450,1.342683,0.033690,-0.169096,...,-0.024028,-0.014392,-0.143341,-0.098075,-1.533735,0.130207,0.011355,0.019097,0.086473,0.121670

In [39]:
# Build data for lstm
past = 5 # 5 months of data
future = 1 # next month risk prem
X_arr,y = [],[]

for p in tqdm(permno_set):
    idxs = [idx for idx, val in enumerate(permno_ids) if val == p]
    temp_df = df.iloc[idxs].to_numpy()
    temp_exret = exret.iloc[idxs].to_numpy()
    
    for i in range(len(temp_df) - past - future + 1):
        X_arr.append(temp_df[i:i+past])
        y.append(temp_exret[i+past:i+past+future])

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 9205/9205 [21:37<00:00,  7.22it/s]